.yellow {
  color: #FFF500;
}

.white {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

body {
  margin-top: 61px;
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  color: #222222;
}
@media (max-width: 576px) {
  body {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1306px;
  width: 100%;
  padding: 0 15px;
}

.banner {
  background-color: #E13535;
  width: 100%;
  padding: 0 42px 0 32px;
  display: flex;
}
.banner__left {
  position: relative;
  width: 50%;
}
.banner__left__clock {
  position: absolute;
  top: 20px;
  left: 0;
}
.banner__left__text {
  position: relative;
  margin: 50px 0 45px 12.5%;
}
.banner__left__text .text-yellow {
  font-weight: 500;
  font-size: 60px;
  line-height: 105%;
  text-transform: uppercase;
}
.banner__left__text .text-white {
  font-weight: 300;
  font-size: 60px;
  line-height: 105%;
  text-transform: uppercase;
}
.banner__left__text__black-flag {
  position: absolute;
  top: -18px;
  left: 282px;
  padding: 10px;
  background-color: #222222;
}
.banner__left__text__black-flag .text-flag {
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}
.banner__left__text__black-flag .text-flag span {
  font-weight: 500;
}
.banner__left__text__black-flag .text-flag::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #222222;
  border-right: 17px solid transparent;
  left: 0;
  bottom: -17px;
}
.banner__left__circle-delivery {
  position: absolute;
  bottom: -10px;
  left: 435px;
  width: 106px;
  height: 106px;
  border-radius: 100%;
  background-color: #FFFFFF;
}
.banner__left__circle-delivery img {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 15%;
  left: 38%;
}
.banner__left__circle-delivery .circle-text {
  position: absolute;
  top: 65%;
  left: 48%;
  transform: translate(-50%, -50%) rotate(15deg);
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
.banner__right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 38px 0 40px;
}
.banner__right__discount {
  display: flex;
  flex-direction: column;
}
.banner__right__discount__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}
.banner__right__discount__number {
  font-weight: 300;
  font-size: 144px;
  line-height: 60%;
}
.banner__right__discount__number sup {
  font-size: 60px;
}
.banner__right__timer {
  display: flex;
  flex-direction: column;
  border: 3px solid #FFFFFF;
  padding: 24px 35px;
  min-width: 333px;
  align-items: center;
  gap: 16px;
}
.banner__right__timer .timer-text {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.banner__right__timer .timer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: space-between;
}
.banner__right__timer .timer-box p {
  text-align: center;
}
.banner__right__timer .timer-box .dot {
  font-weight: 300;
  font-size: 36px;
}
.banner__right__timer .timer-box__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banner__right__timer .timer-box__item .days-number,
.banner__right__timer .timer-box__item .hours-number,
.banner__right__timer .timer-box__item .min-number,
.banner__right__timer .timer-box__item .sec-number {
  font-weight: 500;
  font-size: 36px;
}
.banner__right__timer .timer-box__item .days-text,
.banner__right__timer .timer-box__item .hours-text,
.banner__right__timer .timer-box__item .min-text,
.banner__right__timer .timer-box__item .sec-text {
  font-weight: 300;
  font-size: 16px;
}
@media (max-width: 1299px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner__left {
    width: 100%;
  }
  .banner__left__circle-delivery {
    left: 500px;
  }
  .banner__right {
    width: 100%;
  }
}
@media (max-width: 690px) {
  .banner {
    padding: 0 15px;
  }
  .banner__left__text {
    margin: 50px 0 50px 20px;
  }
  .banner__left__circle-delivery {
    left: auto;
    right: 0;
  }
  .banner__right {
    padding: 25px 0 15px;
  }
  .banner__right__discount__number {
    font-size: 120px;
    line-height: 80%;
  }
  .banner__right__discount__number sup {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .banner__left__text .text-yellow {
    font-size: 50px;
  }
  .banner__left__text .text-white {
    font-size: 50px;
  }
  .banner__left__text__black-flag {
    left: 235px;
  }
  .banner__left__text__black-flag .text-flag {
    font-size: 18px;
    line-height: 20px;
  }
  .banner__left__circle-delivery {
    bottom: -70px;
  }
  .banner__right {
    flex-direction: column;
  }
  .banner__right__timer {
    margin-top: 10px;
  }
}
@media (max-width: 490px) {
  .banner__left__text {
    margin: 70px 0 50px 20px;
  }
  .banner__left__text .text-yellow {
    font-size: 40px;
  }
  .banner__left__text .text-white {
    font-size: 40px;
  }
  .banner__left__text__black-flag {
    left: auto;
    right: 0;
    top: -55px;
  }
  .banner__left__circle-delivery {
    bottom: -70px;
  }
  .banner__right {
    flex-direction: column;
  }
  .banner__right__timer {
    padding: 15px 10px;
    min-width: 100%;
    align-items: center;
    gap: 16px;
  }
}

.information-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}
.information-box__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}
.information-box__left img {
  width: 20px;
  height: 20px;
}
.information-box__left__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
}
.information-box__left__text span {
  font-size: 14px;
  font-weight: 600;
}
.information-box__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}
.information-box__right img {
  width: 20px;
  height: 20px;
}
.information-box__right__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
}
@media (max-width: 767px) {
  .information-box {
    flex-direction: column;
  }
  .information-box__right {
    margin-top: 10px;
    justify-content: flex-start;
  }
}

.select-quantity {
  margin-top: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.select-quantity__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}
.select-quantity .button {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  border: 1px solid #ADADAD;
  padding: 2px 8px;
  cursor: pointer;
}
.select-quantity .active {
  background-color: #DADADA;
  border-color: #222222;
}
@media (max-width: 576px) {
  .select-quantity {
    margin-top: 30px;
  }
}

.product-list {
  width: 100%;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
@media (max-width: 767px) {
  .product-list {
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .product-list {
    gap: 10px;
    margin-top: 30px;
  }
}

.product {
  width: calc(25% - 15px);
  border: 1px solid #DADADA;
  position: relative;
  padding: 25px 20px 20px;
  cursor: pointer;
}
.product:hover {
  border: rgb(0, 0, 0) solid 1px;
}
.product__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.product__top::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/cart.png");
  width: 20px;
  height: 31px;
}
.product__top .quantity {
  margin-left: 30px;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
}
.product__top .promo-price {
  font-weight: 300;
  font-size: 13px;
  color: #E13535;
  padding: 10px 15px;
  border: 1px solid #E13535;
}
.product__top .promo-price span {
  font-weight: 700;
}
.product__image {
  margin-top: 20px;
  width: 100%;
}
.product__price {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}
.product__price .final-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #E13535;
}
.product__price .base-price {
  font-weight: 300;
  font-size: 14px;
  text-decoration-line: line-through;
}
.product__name-text {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
}
.product__producent {
  margin-top: 10px;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: #ADADAD;
}
@media (max-width: 1199px) {
  .product {
    width: calc(33% - 11px);
  }
}
@media (max-width: 992px) {
  .product {
    width: calc(49% - 3px);
  }
}
@media (max-width: 767px) {
  .product {
    width: calc(49% - 4px);
    justify-content: space-between;
  }
}
@media (max-width: 630px) {
  .product {
    width: calc(49% - 5px);
  }
  .product__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .product__top::before {
    top: -10px;
  }
  .product__top .quantity {
    height: 30px;
  }
}
@media (max-width: 576px) {
  .product {
    padding: 20px 15px 15px;
  }
  .product__top .promo-price {
    padding: 5px 10px;
  }
  .product__top .promo-price span {
    white-space: nowrap;
  }
  .product__price {
    flex-direction: column;
  }
  .product__name-text {
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */